
<div class="row">
  <div class="col-md-5">
            <form class="form-group" action="/home/thongtinkhachhang/submit<%= @thongtin %>" method="post">
              <h3>Thông tin liên hệ: </h3>
              <label for="">Tên khách hàng: </label>
                  <input type="text" name="ten_khachhang" value="" class="form-control">
              <label for="">Số điện thoại:  </label>
                  <input type="number" name="sodienthoai" value="" class="form-control">
              <label for="">Email: </label>
              <input type="email" name="email" value="" class="form-control">
                <h3>Địa chỉ nhận hàng: </h3>
              <label for="">Chọn tỉnh:  </label>
                  <select name="tinh" class="form-control" id="tinh">
                    <% @tinh.each do |item| %>
                      <option value="<%=item.provinceid%>"><%=item.name%></option>
                    <% end %>
                  </select>
              <label for="">Chọn huyện: </label>
                    <select name="quan" class="form-control" id=huyen>

                    </select>
              <label for="">Nhập số nhà, xã (phường): </label>
              <input type="text" name="xa" value="" class="form-control">

  </div>
  <div class="col-md-6">
    <h3>Thông tin đơn hàng: </h3>
                <table class="table">
                  <thead>
                        <th>Hình</th>
                        <th>Thông tin sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                  </thead>
                  <tbody>
                        <tr>
                            <td><%= image_tag @showsp.hinhanh, :alt => "sp", :style=> "height:100px;" %></td>
                            <td><%= @showsp.tensanpham %></td>
                            <td><input type="number" name="soluong" value="1" id="soluong"></td>
                            <td id="dongia" gia="<%= @showsp.gia %>"><%= @showsp.gia %></td>
                            <td id="tong"><%= @showsp.gia %></td>
                            <input type="hidden" name="thanhtien" value="<%=@showsp.gia%>" id="thanhtienpost">
                        </tr>
                  </tbody>
                </table>
                <div class=text-right>
                  <h4>Tổng: <span id="tongtien"></span></h4>
                  <p>Số tiền mua hàng: <span id="tiensanpham"></span></p>
                </div>
                  <div class="text-center">
                      <button type="submit" name="button">ĐẶT HÀNG</button>
                  </div>
            </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#thanhtienpost").html($("#dongia").attr("gia"));
    $("#tiensanpham").html($("#dongia").attr("gia"));
    $("#tongtien").html($("#dongia").attr("gia"));
    $("#soluong").change(function(){
      //So tien Mua ban sanpham
      var soluong = $(this).val();
      var dongia = $("#dongia").attr("gia");
      var thanhtien = soluong*dongia;
      $("#thanhtien").html(thanhtien);
      $("#tiensanpham").html(thanhtien);
      $("#thanhtienpost").val(thanhtien);
      $("#tongtien").html(thanhtien);
     //Tien Ship hang:
    });
    $("#tinh").change(function(){
      var value = $(this).val();
      var link1 = "http://localhost:3000/home/diachi/"+value;
      $.get(link1, function(data){
        $("#huyen").html(data);
      });

    });
  });
</script>
