<!DOCTYPE html>
<html>
  <head>
    <title>DungCuTheThao</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'home/home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'home/home', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render ('layouts/header') %>

    <div class="container">
          <%= yield %>
    </div>
sasa
  </body>
</html>
